@import "../../styles/variables";

.login-form {
  position: relative;
  display: block;
  padding: 15px 36px;
  font-weight: 500;
  line-height: 1.25;

  a {
    font-weight: inherit;
    text-decoration: none;
    color: var(--color-accent);
    cursor: pointer;
  }

  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .75);
    z-index: 10;
  }
}