.obj_layout {
  position: absolute;
  top: -35px;
  height: 35px;
  width: 100%;
  font-size: 12px;
  overflow: hidden;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }

  &__item {
   /* float: left;
    margin: 5px -13px 0;
    border-top-right-radius: 25px 170px;
    border-top-left-radius: 20px 90px;
    padding: 0 30px 0 25px;
    height: 170px;
    background: #ddd;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
    z-index: 1;
    max-width: 200px;*/

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;

    background: rgba(221, 221, 221, 0.31);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    min-width: 30px;
    height: 35px;

   /* float: left;
    background: rgba(221, 221, 221, 0.31);
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
    max-width: 200px;
    min-width: 30px;
    text-align: center;
    padding: 5px 5px;*/
  }

  &__item.active {
    z-index: 2;
    background: rgba(239, 239, 239, 0.71);
  }

 /* &__item.active:before {
    border-color: transparent #efefef transparent transparent;
  }

  &__item.active:after {
    border-color: transparent transparent transparent #efefef;
  }

  &__item:before {
    border-color: transparent #ddd transparent transparent;
    -webkit-transform: rotate(48deg);
    left: -23px;
  }

  &__item:after {
    border-color: transparent transparent transparent #ddd;
    -webkit-transform: rotate(-48deg);
    right: -17px;
  }

  &__item:before , &__item:after  {
    content: '';
    background: transparent;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border-width: 10px;
    top: 0px;
    border-style: solid;
    position: absolute;
  }*/

}


.demo8-outer {
  background-color: #EEE;
  color: #FFF;
  position: absolute;
  width: 100%;
  height: 100%;
  font: 28px/1em "Helvetica";
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.demo8 {
  width: 320px;
  height: 400px;
}
.demo8-item {
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: visible;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  border-radius: 4px;
  color: rgb(153, 153, 153);
  line-height: 96px;
  padding-left: 32px;
  font-size: 24px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}