.lg {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #03132d, #05183c);

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__object {
    position: relative;
  }

  &__bg {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__form_inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  &__control {
    z-index: 3;
    width: 100%;
    margin: 0;
    vertical-align: top;
    color: #000;
    border: 0 solid transparent;
    outline: 0;
    background: 0 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 1);
    font-size: 24px;
  }

  &__input {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  &__btns {
    margin: 10px;
  }

  &__btn {
    display: inline-block;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background: white;
    color: black;
  }

  &__form_content {
    text-align: center;
    width: 600px;
  }

  &__form_block {
    text-align: center;
    width: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__wait{
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
  }

  &__loading {
    position: relative;
    width: 100px;
    height: 100px;
  }

  &__loading_fav {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
  }

  &__loading_fav > img {
    width: 32px;
  }

  &__loading_b {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
  }

  &__loading_l {
    margin-top: 5px;
    font-size: 10px;
  }

  &__loading_c {
     cursor: pointer;
     margin-top: 5px;
     font-size: 11px;
   }

  &__loading_c:hover {
    text-decoration: underline;
  }
}

// $Var
$bg-color-1: #4EBA6F;
$bg-color-2: #2D95BF;
$bg-color-3: #F15A5A;
$bg-color-4: #955BA5;
$color: #fff;

// $Mixin
@mixin size($width , $height: $width ) {
  width: $width;
  height: $height;
}

@mixin fontsize($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

@mixin absPositions($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin animations($animation...) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}

.loader {
  display: inline-block;
  position: absolute;
  @include size(100px);
  vertical-align: middle;
  top: 0;
  left: 0;
}

/*	$Loader Quadrant
	========================================================================== */

.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255,255,255,0.4);
  &:after {
    content: '';
    @include absPositions(-6px, -6px, -6px, -6px);
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: $color;
    @include animations(spin 1s linear infinite);
  }
}


@-webkit-keyframes spin {
  0%{ -webkit-transform: rotate(0deg); tranform: rotate(0deg);}
  100%{ -webkit-transform: rotate(360deg); tranform: rotate(360deg);}
}

@keyframes spin {
  0%{ -webkit-transform: rotate(0deg); tranform: rotate(0deg);}
  100%{ -webkit-transform: rotate(360deg); tranform: rotate(360deg);}
}