.element_item{
  background-size: cover;
  text-align: center;
  position: absolute;
}

.element_item.selected {
  /*border: dashed 1px white;*/
  z-index: 100;
}

.element_item .corner{
  width: 15px;
  height: 15px;
  background: #cccccc;
  position: absolute;
  opacity: 0.7;
  cursor: pointer;
  display: none;
}

.element_item .corner:hover{
  opacity: 1;
}

.element_item .corner.ne{
  top:-7px;
  right: -7px;
}

.element_item .corner.se{
  bottom:-7px;
  right: -7px;
}

.element_item .corner.sw{
  bottom:-7px;
  left: -7px;
}

.element_item .corner.nw{
  top:-7px;
  left: -7px;
}