$background:#ff9770;
$sliderBg:#f7f7f7;
$line:#adccce;


.map-slider {
  box-shadow: #777777 0px 10px 92px 0px;

  .drag-line {
    width:8px;
    height:182px;
    background:$background;
    border-radius:8px;
    margin:25px auto;
    position:relative;
    display: flex;
    justify-content: center;

  }
  .line {
    width:8px;
    height:182px;
    background:$line;
    border-radius:8px;
    margin:25px auto;
    position:absolute;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:10px;
    clip: rect(0px, 8px, 183px, 0px);

  }

  .draggable-button {
    width:29px;
    height:29px;
    background:$sliderBg;
    border-radius:50%;
    position:absolute;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    cursor:pointer;
  }
}