.link {

  position: relative;
  display: block;
  overflow: hidden;
  width: 450px;
  height: 250px;
  padding-bottom: 0px;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
 /* box-shadow: 0 30px 50px 0 rgba(42, 102, 255, .26);*/
  text-align: center;
  /*border: 1px solid #eaeaea;*/
  float: left;
  font-family: Calibri;
  margin: 10px;

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__layer {
    position: absolute;
    z-index: 10;
  }

  &__layer_bg {
    background: linear-gradient(45deg, rgba(202, 202, 202, 0.6) 0%, rgba(255, 255, 255, 0.82) 100%);
    background-size: 200% 200%;
    height: 100%;
    width: 100%;
    animation: background 2s ease infinite;
  }
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

// Base styles
.card {
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    background-color: $white;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 12px;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 70px;
    margin: 0;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}

// First example styles
.example-1 {
  .wrapper {
    background: url(https://hd.unsplash.com/photo-1463415268136-e52a5af54519) center / cover no-repeat;
  }
  .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bermuda;
    color: $white;
    padding: 0.8em;
    span {
      display: block;
      text-align: center;
    }
    .day {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }
    .month {
      text-transform: uppercase;
    }
    .month,
    .year {
      font-size: 12px;
    }
  }
  .content {
    background-color: $white;
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }
  .title {
    a {
      color: lighten($black, 50%);
    }
  }
  .menu-button {
    position: absolute;
    z-index: 999;
    top: 16px;
    right: 16px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    span {
      width: 5px;
      height: 5px;
      background-color: lighten($black, 50%);
      color: lighten($black, 50%);
      position: relative;
      display: inline-block;
      border-radius: 50%;
      &::after,
      &::before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background-color: currentColor;
        position: absolute;
        border-radius: 50%;
      }
      &::before {
        left: -10px;
      }
      &::after {
        right: -10px;
      }
    }
  }
  .menu-content {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: transform 0.3s;
    transform: translateY(0);
    li {
      width: 33.333333%;
      float: left;
      background-color: $bermuda;
      height: 60px;
      position: relative;
    }
    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }
    span {
      top: -10px;
    }
  }
}

// Second example styles
.example-2 {
  .wrapper {
    background: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg) center / cover no-repeat;
    &:hover {
      .menu-content {
        span {
          transform: translate(-50%, -10px);
          opacity: 1;
        }
      }
    }
  }
  .header {
    @include cf;
    color: $white;
    padding: 1em;
    .date {
      float: left;
      font-size: 12px;
    }
  }
  .menu-content {
    float: right;
    li {
      margin: 0 5px;
      position: relative;
    }
    span {
      transition: all 0.3s;
      opacity: 0;
    }
  }
  .data {
    color: $white;
    transform: translateY(calc(70px + 4em));
  }
  .title {
    a {
      color: $white;
    }
  }
  .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: $white;
    line-height: 1;
    position: relative;
    font-weight: 700;
    &::after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}



$border-radius-size: 20px;
$orange: #FF3F2A;
$blue: #00D3EF;
$yellow: #FFD203;


.container {
  background: white;
  width: 740px;
  margin: 50px auto;
  border-radius: $border-radius-size;
  position: relative;
  box-shadow: -1px 15px 30px -6px rgba(196,196,196,1);
}

strong {
  font-weight:900;
}

.shoe-details-left {
  float: left;
  background: #FF0235;
  background: linear-gradient(#FF0237, #FF4928);
  width: 270px;
  color: white;
  padding: 30px;
  border-top-left-radius: $border-radius-size;
  border-bottom-left-radius: $border-radius-size;

  .logo {
    width: 75px;
    margin-bottom: 55px;
  }

  .product-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .product-description {
    width: 200px;
    font-size: 12px;
  }

  .product-shot {
    width: 250px;
    margin-left: -54px;
    margin-top: -20px;
  }

  .product-price, .product-price-details {
    text-align: center;
  }

  .product-price {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .product-price-details {

  }
} // end shoe-details-left

.shoe-details-right {
  float: left;
  width: 470px;
  padding: 30px;
  text-transform: uppercase;

  .product-title {
    font-size: 20px;
  }

  .label {
    background: $orange;
    color: white;
    border-radius: 5px;
    padding: 4px 7px;
    font-size: 10px;
    vertical-align: top;
    margin-left: 10px;
  }

  .product-category {
    margin: 5px 0 10px;
  }

  .product-stars {
    margin-bottom: 30px;

    .gray {
      color: #999;
    }
  }

  .product-tabs {

    margin-bottom: 20px;

    li {
      display: inline;
      margin-right: 10px;
      padding: 0 7px;
      color: $orange;

      &.active {
        padding-bottom: 3px;
        border-bottom: 3px solid $orange;
      }

      a {
        color: #CACACA;
        text-decoration: none;
        font-weight: 700;

        &:hover, &:focus {
          color: $orange;
        }
      }

      &.active > a {
        color: $orange !important;
      }

    }
  }

  .tab-content {
    text-transform: none;
    font-size: 14px;
    margin-bottom: 30px;
  }

  h2 {
    font-weight: 900;
    margin-bottom: 10px;
  }

  .sizes {
    margin-bottom: 20px;
    li {
      display: inline;
      font-size: 14px;
      margin-right: 40px;
      padding: 5px;

      &.active, &:hover {
        background: $orange;
        border-radius: 50%;
        color: white;
      }

      &.active > a, &:hover > a {
        color: white;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  .colours {

    margin: 20px 0 60px;

    li {
      display: inline;
      margin-right: 30px;

      &.active > a {
        border: 1px solid $blue;
        border-radius: 100%;
        padding: 14px 7px 3px 7px;
      }


    }
  }

  .circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  .blue {
    background: $blue;
  }

  .orange {
    background: $orange;
  }

  .yellow {
    background: $yellow;
  }

  .black {
    background: black;
  }

  a.btn {
    text-decoration: none;
    background: #CCC;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 6px;

    &:hover {
      background: lighten(#CCC, 5%);
    }
  }

  a.btn-primary {
    background: $blue;
    margin-right: 20px;

    &:hover {
      background: lighten($blue, 5%);
    }
  }

} // end shoe-details-right

.close-button {
  position: absolute;
  right: -20px;
  top: -20px;
  font-size: 40px;
  color: #B8B8B8;
  background: white;
  border-radius: 50%;
  padding: 10px 10px 15px 10px;
  box-shadow: -1px 3px 20px -6px rgba(196,196,196,1);

  &:hover {
    background: #fbfafa;
    cursor: pointer;
  }

}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/***carder***/

.inspired-by {
  display: block;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.carder {
  display: block;
  position: absolute;
  top: 25px;
  margin: 0 auto;
  width: 350px;
  background-color: #fff;
  border-radius: 15px;

  box-shadow: 0 30 50 rgba(0, 0, 0, 0.2);

  transform: translateX(-50%);
  transition: left 0.5s ease-out;
  will-change: left;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.carder--19 {
  left: 50%;
}

.carder--solstice,
.carder--huarache {
  left: 150%;
}

.carder__header {
  position: relative;
  height: 170px;
  padding: 30px 30px 300px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: #fff;
}

.carder__header--19 {
  background-color: #F72648;
  background-image: linear-gradient(#F72648, #FCCB3C);

  background: #F72648;
  background: linear-gradient(#F72648, #FCCB3C);
}

.carder__header--solstice {
  background-color: #3CA3FC;
  background-image: linear-gradient(#3CA3FC, #FFD300);

  background: #3CA3FC;
  background: linear-gradient(#3CA3FC, #FFD300);
}

.carder__header--huarache {
  background-color: #26C9F7;
  background-image: linear-gradient(#26C9F7, #DFFC3C);

  background: #26C9F7;
  background: linear-gradient(#26C9F7, #DFFC3C);
}

.carder__watermark {
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.carder__watermark::after {
  content: attr(data-watermark);
  position: relative;
  left: -20px;
  color: rgba(0, 0, 0, .3);
  font-size: 240px;
  font-weight: 700;
  text-transform: uppercase;
}

.carder__logo {
  width: 50px;
  height: auto;
}

.carder__price {
  float: right;
  font-size: 16px;
  font-weight: 300;
}

.carder__title {
  margin: 35px 0 20px;
  font-size: 15px;
  line-height: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.carder__subtitle {
  display: block;
  font-size: 13px;
  font-weight: 300;
}

.carder__body {
  position: relative;
  padding: 40px 30px 20px;
}

.carder__image {
  z-index: 1;
  position: absolute;
  top: -290px;
  left: -30px;
  width: 125%;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.carder__wish-list {
  display: block;
  width: 50%;
  margin: 0 auto 15px;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.carder__wish-list--19 {
  color: #8850FF;
  border-color: #8850FF;
}

.carder__wish-list--solstice {
  color: #FFBA00;
  border-color: #FFBA00;
}

.carder__wish-list--huarache {
  color: #26C9F7;
  border-color: #26C9F7;
}

.carder__category {
  display: block;
  font-size: 12px;
  color: #AEAEAE;
  text-transform: uppercase;
  text-align: center;
}

.carder__will-animate {
  will-change: transform;
}

.carders-placeholder {
  display: block;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
}

.carders-placeholder__item {
  opacity: 0.3;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  width: 30px;
  height: 5px;
  border-radius: 5px;

  transition: opacity 0.2s;
  will-change: opacity;
}

.carders-placeholder__item--active {
  opacity: 1;
}

/**** end carder ***/