
/* OPTIONS */
$width: 300px;

$c-black: #111;
$c-white: #fff;
$c-blues: #2980B9, #0074D9, #009FE3;
$c-greys: #343C3F, #A2ACB0, #D9E1E4;

/* STYLES */

.dropdown {
  text-align: left;
  color: nth($c-greys, 1);
  //border: 1px solid nth($c-greys, 2);
  /*position: absolute;*/
  width: 350px;

  &__inner {
    position: relative;
  }

  &.closed {
    .dropdown-menu {
      margin-top: 0px;
      li {
        height: 0px;
      }
    }
    .title {
      border-bottom: none;
      &:after {
        margin-top: -16px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
  }

  .title {
    width: 100%;
    position: relative;
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid nth($c-greys, 3);
    background: rgba(128, 128, 128, 0.09);

    &:after {
      display: block;
      content: "▾";
      position: absolute;
      right: 14px;
      top: 50%;
      margin-top: -16px;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  .dropdown-menu {
    position: relative;
    overflow: hidden;
    max-height: 200px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  ul {
    position: absolute;
    top: 0;
    width: 100%;

    li {
      width: 100%;
      line-height: 40px;
      border-bottom: 1px solid nth($c-greys, 3);
      padding: 0 12px;
      vertical-align: top;
      overflow: hidden;
      cursor: pointer;
      -webkit-transition: margin-top 0.5s, height 0.5s;
      -moz-transition: margin-top 0.5s, height 0.5s;
      transition: margin-top 0.5s, height 0.5s;

      &:hover {
        background-color: nth($c-greys, 3);
        color: nth($c-greys, 1);
      }
    }
  }
}